h1 {
  color: purple;
}

p,
li {
  color: green;
}

li {
  list-style-type: none;
}

.special {
  color: orange;
  font-weight: bold;
}

a:hover {
  color: red;
}

.box {
  width: 100px;
  height: 100px;
  margin: 30px;
  padding: 15px;
  background-color: rebeccapurple;
  color: white;
  transform: rotate(0.05turn);
}
